<div class="card">
    <div  class="card-body">
        <hi>About</hi>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A laudantium dignissimos eos alias modi sequi ut soluta ipsa doloribus aperiam, veniam praesentium perspiciatis iure cum placeat hic explicabo distinctio amet!</p>
    </div>
</div>