<div class="jumbotron mt--4">
    <h1 class="display-4">NOte App Nodejs and Mongodb</h1>
    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate perspiciatis minus quisquam ipsa ratione pariatur ducimus nihil hic, fugiat accusamus impedit architecto dicta aliquam, eius assumenda quam non exercitationem ut.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, illum illo eius saepe, sequi rerum adipisci, nesciunt harum reiciendis dolore nostrum repellendus magnam iusto neque nulla similique delectus itaque maxime?</p>
    <a href="http:faztweb.com" class="btn btn-primary btb-lg">faztweb</a>
</div>